@font-face {
	font-family: 'sarasa-monoT-tc-regular';
	font-weight: 400;
	font-style: normal;
	src: url('https://cdn.jsdelivr.net/gh/IceCodeNew/sarasa-gothic-ttf-4CDN@master/sarasa-monoT-tc-regular.ttf') format('truetype');
}

